version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongodata:/data/db
    ports:
      - "27017:27017"
  backend:
    build: .
    command: npm run dev
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/pharmacydb
      - JWT_SECRET=supersecret
    depends_on:
      - mongo
volumes:
  mongodata:
